

#playIcon:before{
    font-family: "Ionicons";
    content:"\f357";
}

#pauseIcon:before {
    font-family: "Ionicons";
    content: "\f478";
}


#album-cover-art-big {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#album-container{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-left: 268px;
    margin-bottom: 90px;
}

#album{
    padding: 2em 40px 0 40px;
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
/* #background */
#back-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    margin-left: -268px;
}

#blur-overlay{
    position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.75);
     z-index: -1;
     margin-left: -268px;
}

#album-title{
    color: white;
    margin: 12px 0 5px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .005em;
    font-weight: 900;
}

#artist{
    color: rgba(155, 155, 155, .5);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

#release-info-container {
    display: none;
}

 #play-shuffle-buttons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
} 

.play{
    background-color: #A239CA;
    color: #E7DFDD;
    padding: .75em 0em;
    width: 90px;
    border-radius: 5px;
    margin-right: 10px;
}

.play:before {
    font-family: "Ionicons";
    content: "\f357";
    margin-right: 10px;
}

.shuffle{
    background-color: #A239CA;
    color: #E7DFDD;
    padding: .75em 0;
    width: 90px;
    border-radius: 5px;
}

.shuffle:before {
    font-family: "Ionicons";
    content: "\f37b";
    margin-right: 10px;
}

#release-info{
    text-align: center;
    color: rgba(155, 155, 155, .5);
    font-weight: 100;
    font-size: 12px;
}

#album-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 50px 10px;
    margin-right: 50px;
}

#song-list{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
    border-collapse: collapse;
    color: rgba(155, 155, 155, .5);
    padding: 25px 0;
}

#song-table{
    border-top: 1px solid rgba(155, 155, 155, 0.1);
}

.song-row{
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 4em;
    font-size: 16px;
    transition: background 150ms ease-in-out,
    transform 150ms ease;
}

.song-row-head{
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 3em;
    font-size: 16px;
}

.song-row:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);

}

.song-row-highlighted{
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 4em;
    font-size: 16px;
    transition: background 150ms ease-in-out,
    transform 150ms ease;
    background-color: rgba(0, 0, 0, 0.25);
}

.title{
    width: 100%;
    padding: 0 20px;
    text-align: left;
    color: #E7DFDD;
    font-weight: 300;
}

.title span{
    color: #A239CA;
}

.title-head{
    width: 100%;
    padding: 0 20px;
    text-align: left;
    color: rgba(155, 155, 155, .5);
}

@media only screen and (max-width: 950px) {
    #album-container {
        margin-left: 0;
        margin-top: 75px;
    }

    #back-image,
    #blur-overlay {
        margin-left: 0;
    }

    #album{
        flex-direction: column;
    }

    #album-info {
        flex-direction: column;
        width: 100%;
        padding: 50px 10px;
        margin-right: 0;
    }

    #song-list {
        width: 100%;
    }
}

@media only screen and (max-width: 1250px) {
    #album {
        flex-direction: column;
    }

    #album-info {
        flex-direction: row;
        width: 100%;
        padding: 50px 10px;
        margin-right: 0;
        align-items: flex-end;
    }

    #album-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #album-title {
        color: white;
        margin: 12px 0 5px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        font-weight: 900;
    }

    #album-cover-art-big {
        margin-right: 50px;
    }

    #song-list {
        width: 100%;
    }

    #release-info {
        display: none;
    }

    #release-info-container {
        display: flex;
        align-items: baseline;
        color: rgba(155, 155, 155, .5);
        font-weight: 100;
        font-size: 12px;
        margin-bottom: 15px;
    }

    #album-time{
        color: rgba(155, 155, 155, .5);
        font-weight: 100;
        font-size: 13px;
    }

    #album-time:before {
        font-family: "Ionicons";
        content:"\f394";
        margin-right: 5px;
    }

    #album-length {
        margin-left: 5px;
    }

    #album-length:before {
        content: "• ";
        margin-right: 2px;
    }

    #album-date{
        margin-left: 10px;
    }

    #play-shuffle-buttons{
        margin-bottom: 0;
    }

    #artist{
        margin-bottom: 5px;
        color: white;
        font-weight: 100;
    }

}
