#landing{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color:#E7DFDD;
    padding: 50px;
    margin-left: 268px;
    margin-bottom: 90px;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    transition: .5s ease;
}

#logo-big{
    font-family: 'Archivo Black',
    sans-serif;
    font-size: 2em;
    color: #A239CA;
    letter-spacing: -2.5px;
}

#logo-big span{
    color: white;
}

#logo-big h1 {
    margin: 0;
}

#logo-small{
    font-family:'Abel',
    sans-serif;
    color: white;
}

#logo-small h2{
    font-weight: 100;
    margin: 0;
    font-size: 1.25em;
    margin-top: -10px;
    letter-spacing: 2px;
}

#selling-points{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* #albums-collage-container {
    background: url('/assets/images/records.jpg') right center;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    width: 365px;
    height: 325px;
    z-index: -1;

}

#music-container {
    background: url('/assets/images/music.jpg');
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px); 
    position: absolute;
    width: 365px;
    height: 315px;
    z-index: -1;
}

#headphones-container {
    background: url('/assets/images/headphones.jpg')right center;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    width: 365px;
    height: 315px;
    z-index: -1;
} */

.point{
    transition: .3s ease;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    margin-top: -150px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 6px;
    margin: 25px;
    overflow: hidden;
}

.point:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#music-note:before{
    color: #ffffff;
    font-size: 2em;
    font-family: "Ionicons";
    content:"\f332";
}

#ear-phones:before {
    color: #ffffff;
    font-size: 2em;
    font-family: "Ionicons";
    content: "\f306";
}

#music-disc:before {
    color: #ffffff;
    font-size: 2em;
    font-family: "Ionicons";
    content:"\f2e0";
}

/* .point span{
    color: #A239CA;
} */

.point-title{
    color: white;
    
}

.point-description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
}

#listen-button-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#listen-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #29233a;
    border-radius: 5px;
    padding: 0 10px;
    transition: .5s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#listen-button-container:hover {
    color: #A239CA;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

#listen-button{
    color: #ffffff;
    font-weight: 500;
}

/* #listen-button:before {
    font-family: "Ionicons";
    content: "\f306";
    margin-right: 15px;
} */

#points-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1650px) {
    .point{
        width: 300px;
        height: 250px;
    }

    #albums-collage-container,
    #music-container,
    #headphones-container {
        width: 315px;
        height: 275px;
    }
}

@media only screen and (max-width: 1460px) {
    #points-container {
        flex-direction: column;
    }
    .point{
        width: 100%;
        height: 150px;
        padding: 20px 0;
    }

    /* #albums-collage-container,
    #music-container,
    #headphones-container {
        width: 315px;
        height: 350px;
    } */

    #content{
        height: 75%
    }

    #logo-container{
        height: 25%;
    }
/* 
    #albums-collage-container,
    #music-container,
    #headphones-container {
        width: 100%;
    } */
}

@media only screen and (max-width: 950px) {
    #landing {
        margin-left: 0px;
        margin-top: 75px;
        padding: 25px 0px;
    }
    #logo-container {
        display: none;
    }

    #content {
        height: 100%;
    }

    .point {
        width: 100%;
        height: 150px;
        padding: 20px 0;
    }
}
