a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
.library{
    background: linear-gradient(to top, #0B030E 0%, #1B1823 100%);
    width: 100%;
    margin-left: 268px;
    margin-bottom: 90px;
}

#library-header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:25px 0 15px 0;
}

#library-header{
    display: flex;
    justify-content: flex-end;
    font-family: 'Archivo Black',
    sans-serif;
    width:95%;
    height: 50px;
    border-bottom: 1px solid rgba(155, 155, 155, .1);
    color: white;
    letter-spacing: -1.5px;
}

#library-header span {
    color: #A239CA;
}

#library-grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25px;
}

#library-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-content-container{
    width: 200px;
    margin: 25px;
}

.library-album-cover-art{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.album-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   background-color: rgba(0,0,0, 0.75);
   width: 200px;
   height: 200px;
   color: #E7DFDD;
}

.album-overlay .play{
    margin: 0 0 3px 0;
}

/* .album-overlay:before {
    font-family: "Ionicons";
    content: "\f113";
    font-size: 30px;
    margin-right: 10px;
} */

.album-overlay:hover{
    font-size: .8em;
    opacity: 1;
}

.album-overlay span{
    font-weight: 100;
}

.album-info-container{
}

.library-title{
    color: white;
    margin: 12px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing: .005em;
    font-weight: 700;
}

.library-artist{
    color: rgba(155, 155, 155, .5);

}

@media only screen and (max-width: 950px) {
    .library{
        margin-left: 0;
        margin-top: 75px;
    }

    #library-header {
        justify-content: flex-start;
        align-items: center;
        border: none;
    }

    #library-header-container {
        margin: 25px 0 0 0;
    }

    #library-header h1{
        margin: 0;
    }
}
